@import "../nodebb-theme-persona/theme";
@primary-color: #a1ecfb;
@secondary-color: #26dafd;
@highlight-color: rgb(255, 167, 108);

/* Fonts */

@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Electrolize'), local('Electrolize-Regular'), url(../plugins/nodebb-theme-the-starport/fonts/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../plugins/nodebb-theme-the-starport/fonts/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../plugins/nodebb-theme-the-starport/fonts/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Color Overrides */

.breadcrumb>.active, input.form-control::placeholder, .dropdown-menu>li>a, .fa-search, .help-content {
    color: @primary-color;
}

.stats small, small, .topic .posts.timeline [component="topic/event"].timeline-event .timeline-text,
.text-muted, .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, 
.h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, 
h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: @secondary-color;
}

.navbar-default .navbar-nav>li>a, .navbar-default .btn-link, a, 
a.permalink, a.permalink:active, a.permalink:focus, a.permalink:hover,
.dropdown-header, .dropdown-menu>li>form>.btn-link, .dropdown-menu>li>form>button, .highlight,
.topic [component="post/downvote"], .topic [component="post/upvote"],
.topic [component="topic/labels"], .breadcrumb .fa {
    color: @highlight-color;
    text-decoration: none;
}

// Highlight with text shadow
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .btn-link:focus, .navbar-default .btn-link:hover, .cookie-consent a:hover,
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.composer .formatting-bar .formatting-group li:focus, .composer .formatting-bar .formatting-group li:hover
{
    color: @secondary-color;
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
    background-color: transparent;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  border-style: none;
}

.navbar-right>li>a {
    color: @primary-color !important;
}

.header .forum-title {
    font-family: 'Electrolize', sans-serif;
    color: @primary-color;
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.dropdown-menu .divider {
    background-color: transparent;
    background-image: linear-gradient(.25turn, rgba(0, 0, 0, 0), #26dafd, rgba(0, 0, 0, 0));
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
    color: inherit;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>label, .navbar-default .navbar-nav>.open>label:focus, .navbar-default .navbar-nav>.open>label:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
  background-color: inherit;
  color: inherit;
}

/* Global styling */

body {
    background: url("../plugins/nodebb-theme-the-starport/images/background.jpg");
    background-color: #000;
    background-size: cover;
    display: flex;
    color: @primary-color;
    font-family: 'Titillium Web', sans-serif;
}

main {
    flex: 1;
    background: rgba(0, 0, 0, 0.6);
}

.row {
    border-width: 1px;
}

.alert-window .alert {
    background-color: rgba(2, 17, 20, 0.85);
}

a:focus,a:hover, .navbar-default .navbar-nav>li>a:hover {
  color: @highlight-color;
  text-shadow: rgb(255 167 108 / 65%) 0 0 4px;
  background: transparent;
}

// Black transparent box with light blue borders
.navbar-default, .cookie-consent, .form-control,
.btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary,
.btn-primary, .quick-search-container, .dropdown-menu, .modal-content,
.bootstrap-tagsinput {
    background-color: rgba(2, 17, 20, 0.85);
    border-color: @secondary-color;
    color: @primary-color;
    border-style: solid;
}

// Same but with no border
.btn-default {
  background-color: rgba(2, 17, 20, 0.85);
  color: @primary-color;
  border-style: none;
}

.jumbotron, .panel-default, .topic-list-header {
    background-color: transparent;
    border: 0;
}

.panel-title {
    text-align: center;
    color: @primary-color;
}

.panel-default>.panel-heading, .topic-info, .topic .topic-header {
    border-color: @primary-color;
    background-color: transparent;
}

.cookie-consent {
    border-width: 1px;
    border-left: 0;
    border-right: 0;
}

.btn {
    border-width: 2px;
}

/* Forum */

.categories-title {
    display: none;
}

.title {
  font-family: 'Electrolize';
}

.categories .description, .category .description, .subcategory .description, .category>ul>li:not(.unread) h2 a {
    color: @primary-color;
}

div#content > .row, .composer {
    border-color: @secondary-color;
    border-style: solid;
    background-color: rgba(2,17,20,.85);
}

.bottom-sheet a, .bottom-sheet button {
  border-style: none;

}

.pull-right a {
  color: @primary-color;
}

.write-container {
  outline: none;
}

.composer .write, .composer .preview {
  background: rgba(0,0,0,.6);
  border-color: @primary-color;
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 992px) {
  .composer .title-container .title {
    font-size: 18px;
  }
}

@media (min-width: 1199px) {
  html.composing .composer {
    left: 0;
    width: inherit;
  }
}

/* Faded Background */
#fade-background {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(2, 17, 20, 0.85); 
    z-index: 1;
}

.fade-in-background {
    animation: fadeIn 0.25s;
    -webkit-animation: fadeIn 0.25s;
    -moz-animation: fadeIn 0.25s;
    -o-animation: fadeIn 0.25s;
    -ms-animation: fadeIn 0.25s;
    opacity: 1;
    pointer-events: auto;
  }

.fade-out-background {
    animation: fadeOut 0.25s;
    -webkit-animation: fadeOut 0.25s;
    -moz-animation: fadeOut 0.25s;
    -o-animation: fadeOut 0.25s;
    -ms-animation: fadeOut 0.25s;
    opacity: 0;
    pointer-events: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  /* Modal */
  .modal-header, .modal-footer {
    border-color: @secondary-color;
  }

  .alert-warning {
    border-color: @secondary-color;
    color: @primary-color;
    background: transparent;
  }