@import "../nodebb-theme-persona/theme";

body {
    background: url("../plugins/nodebb-theme-the-starport/images/background.jpg");
    background-color: #000;
    background-size: cover;
    display: flex;
    color: #a1ecfb;
}

main {
    flex: 1;
    background: rgba(0, 0, 0, 0.6);
}

.row {
    border-width: 1px;
}

.jumbotron, .panel-default {
    background-color: transparent;
    border: 0;
}

a {
    color: rgb(255, 167, 108);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #26dafd;
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
}

.panel-title {
    text-align: center;
    color: #a1ecfb;
}

.panel-default>.panel-heading {
    border-color: #a1ecfb;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(255, 167, 108);
}

.navbar-default, .cookie-consent, .form-control, .row,
.btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary,
.btn-primary {
    background-color: rgba(2, 17, 20, 0.85);
    border-color: #029dbb;
    color: #a1ecfb;
    border-style: solid;
}

.cookie-consent {
    border-width: 1px;
    border-left: 0;
    border-right: 0;
}

.btn {
    border-width: 2px;
}